@import url('template.css');

body {
	font-size: 12px;
	font-weight: 100;
	line-height: 1.5em;
	font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}

p {
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei" !important;
}

a {
	text-decoration: none;
	font-size: 12px;
	font-weight: 100;
}

ul {
	list-style: none;
}

/**
 *
 */
.divider {
	height: 1px;
	margin: 8px 1px;
	overflow: hidden;
}

/**
 *
 */
.fixed {
	position: fixed;
}

.absoluted {
	position: absolute;
}

/**
 *
 */
.btn-back-toTop {
	display: none;
	z-index: 2000000;
	position: fixed;
	bottom: 80px;
	right: 50px;
}

.btn-back-toTop a i {
	font-size: 28px;
	font-weight: 100;
	cursor: pointer;
	padding:10px;
}


/**
 *
 */

.bottom-wrapper {
}

.bottom {
	margin: 0 auto;
	width: 75%;
	position:relative;
}

.bottom .wrapper {
	position:relative;
	font-size: 12px;
	line-height: 1.5em;
	margin-top: 20px;
	margin-left:260px;
	position: left;
	
	padding-left: 0;
	padding-top: 20px;
	padding-right:30px;
	padding-bottom:20px;
}

.bottom .wrapper .bottom-text {
	overflow: hidden;
	margin-top: 20px;
	margin-left: 45px;
}
.bottom .wrapper .bottom-text a {
	padding-left:5px;
	padding-right: 5px;
}
.bottom .bottom-cols {
	margin-bottom:10px;
}
.bottom .bottom-cols .bottom-col {
	padding-left: 0;
}

.bottom .bottom-cols .bottom-col .col-title {
	font-size: 14px;
	text-indent: 5px;
	line-height: 20px;
}

.bottom .bottom-cols .bottom-col li {
	margin-left: 20px;
	margin-top: 3px;
}

/***
 *
 *
 */
.content-wrapper {
	margin: 0 auto;
	width: 75%;
	position: relative;
}

.aside-wrapper {
	width: 230px;
	float: left;
}

.aside-wrapper.fixed {
	position: fixed;
	top: 0;
}

.yy-logo {
	height: 100px;
}

.content-body-wrapper {
	position: relative;
	margin-left: 260px;
	position: left;
	min-height: 800px;
}

.body-padding {
	height: 50px;
}

.aside-navbar {
	padding-top: 20px;
	padding-bottom: 30px;
}

.aside-navbar ul.aside-nav li {
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 19px;
	text-indent: 5px;
}

.aside-navbar ul.aside-nav li span {
	padding-left: 30px;
}

.aside-navbar ul {
	padding-left: 0px;
}

.aside-navbar ul.L1 {
	margin-bottom: 0;
}

.aside-navbar ul.L2 li span {
	padding-left: 75px;
}

.aside-navbar .aside-nav-search-wrapper {
	margin-top: 10px;
	padding-right: 5px;
	display: inline-block;
	height: 28px;
	padding-left: 30px;
}

.aside-nav-search-wrapper .aside-nav-search span.search-icon {
	padding-left: 5px;
	padding-right: 2px;
}

.aside-nav-search-wrapper .aside-nav-search input {
	width: 0px;
	height: 28px;
	padding: 5px 2px 4px 0px;
	font-size: 14px;
	font-weight: 100;
	border: none;
	outline: medium;
	background-color: transparent;
}

.aside-nav-search-wrapper .aside-nav-search span.clear-icon {
	display: none;
	cursor: pointer;
	padding-right: 3px;
}
.aside-nav-search-wrapper .aside-nav-search.active span.clear-icon {
	display: inline-block;
}



/**
 *
 */
.content-body,
.content-body .row-fluid,
.content-body .row-fluid .col-md-12 {
	padding-left: 0px;
	padding-right: 0px;
}


.post {
	margin-bottom: 10px;
	padding-right: 20px;
}

.post .head {
	padding-left: 25px;
	padding-top: 6px;
}

.post .content {
	margin-left: 32px;
	margin-right:12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.post.preview:first-child {
	padding-top:15px;
}

.post.preview {
	margin-bottom: 5px;
	margin-left: 16px;
	margin-right: 8px;
}
.post.preview .head {
	padding-top: 2px;
	padding-left: 10px;
}
.post.preview .content{
	margin-left: 15px;
	padding-bottom:0px;
}

.content-body .post.preview:last-child {
	margin-bottom: 15px;
}

.post .content p {
	line-height: 23px;
}

.post .head .title ,
.post .head .title span,
.post.preview .head .title a{
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
	font-size: 19px;
	line-height: 26px;
	font-weight: 100;
}

.post .head .extra {
	padding-left:3px;
	padding-bottom: 3px;
	margin: 0;
}

.post .head .extra span,
.post .head .extra span a{
	margin-bottom: 0px;
	padding-bottom: 4px;
	font-size: 12px;
	font-weight:100;
}

.post-tags-bottom .v-line, .extra .v-line {
	margin: 0 11px 0 8px;
}

.post-tags-bottom .v-line1, .extra .v-line1 {
	margin: 0 2px 0 5px;
}

.post-tags-bottom i, .extra i {
	padding-right: 8px;
}

.post-tags-bottom span em a {
	font-size: 12px;
	padding-right: 3px;
}

.comments-wrapper, .post-tags-bottom, .yy-pagination {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.comments-wrapper {
		padding-left: 28px;
}

.post-tags-bottom, .yy-pagination {
	padding-left: 32px;
}

.yy-pagination {
	margin-bottom: 4px;
	padding-top: 0px;
}

.yy-pagination .pagination > li > a, 
.yy-pagination .pagination > li > span{
	border-radius: 0;
}

/*
 * 
 * 
 * 
 */
/**
 *
 */
.comments-wrapper {
	padding-bottom: 30px;
	height: auto;
}
.comments-wrapper .cmt-wrapper-title {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 20px;
}

div.reply-box, div.reply-box-expand {
	margin-right: 30px;
	padding-left: 5px;
	padding-right: 10px;
	margin-left: 5px;
}
div.reply-box .reply-action {
	display: none;
}

div.reply-box .reply-action {
	visibility: hidden;
}

div.reply-box textarea {
	width: 100%;
	height: 25px;
	display: block;
	resize: none;
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: hidden;
}

div.reply-box-expand textarea {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	flex-direction: column;
	-webkit-appearance: textarea;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
}

div.reply-box-expand textarea {
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	height: 100px;
	*height: 42px;
	resize: none;
	display: inline-block;
	resize: none;
	outline: none;
	overflow-y: visible;
	overflow-x: hidden;
	white-space: pre-line;
	word-break: break-all;
	padding-bottom: 10px;
	padding-top: 5px;
	columns: 100;
	border: none;
}

div.reply-box textarea:focus::-webkit-input-placeholder, div.reply-box-expand textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

div.reply-action {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
}

div.reply-action a.btn {
	padding-left: 10px;
	padding-right: 10px;
}

ul.comments-list {
	margin-left: 0;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left:0;
	padding-bottom: 20px;
	padding-top: 10px;
}

ul.comments-list li {
	list-style: none;
}

li.comment-item {
	margin-left: 0px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-right: 30px;
	display: inline-block;
	position: relative;
	padding-left: 5px;
}

.cmt-content {
	margin-top: 10px;
	display: inline-block;
	margin-right: 50px;
}

.cmt-content .comment-header, .cmt-content .comment-body {
	margin-bottom: 8px;
}

.cmt-content .comment-header .cmt-user-name {
	font-size: 14px;
	font-weight: 800;
	margin-right: 8px;
}
.cmt-content .comment-header .cmt-reply-date {
	font-size: 10px;
}

.cmt-content .comment-body {
	font-size: 12px;
	padding-left: 0px;
}

.comment-footer {
	font-size: 12px;
}

.comment-footer .cmt-reply-action {
	cursor: pointer;
	margin-right: 10px;
}
.comment-footer .cmt-reply-action i {
	margin-right: 6px;
}

.reply-action label,
.reply-action input {
	font-size: 12px;
	font-weight: 100;
}

.reply-action input,
.reply-action input:after,
.reply-action input:before,
.reply-action input:active {
	border-radius: 0;
	height: 30px;
	background-color: transparent !important;
}

.aside-wrapper {
	z-index: 0;
}

.aside-navbar {
	z-index: 0;
	background:transparent;
}
.aside-navbar .aside-nav.L1 li span,
.aside-navbar .aside-nav.L2 li span{
	background:transparent;
}

.yy-conver {
	width: 236px;
	height: 35px;
	z-index: -1;
	position: fixed;
	margin-left: -3px;
}

.yy-conver .c1,
.yy-conver .c2{
	width: 3px;
	height: 35px;
	opacity: 1;
}
.yy-conver .c1 {
	float: left;
}
.yy-conver .c2{
	float: right;
}



