@import url('template.css');

body {
	font-size: 12px;
	font-weight: 100;
	line-height: 1.5em;
	font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}

p {
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei" !important;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/**
 *
 */
.divider {
	height: 1px;
	margin: 8px 1px;
	overflow: hidden;
}

/**
 *
 */
.fixed {
	position: fixed;
}

/**
 *
 */
.btn-back-toTop {
	display: none;
	z-index: 2000000;
	position: fixed;
	bottom: 80px;
	right: 50px;
	width: 58px;
	height: 58px;
	cursor: pointer;
	background-image: url(../img/top4y.png);
	background-position: 0 0;
}

.btn-back-toTop:hover {
	background-image: url(../img/top4y.png);
	background-position: 0 -58px;
}

/**
 *
 */

.bottom-wrapper {
	height: 100px;
}

.bottom {
	position: relative;
	width: 100%;
	font-size: 12px;
	line-height: 1.5em;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: 250px;
}

.bottom .bottom-text {
	overflow: hidden;
	margin-left: 5px;
}

/***
 *
 *
 */
.content-wrapper {
	margin: 0 auto;
	width: 75%;
	position: relative;
}

.col-left {
	float: left;
	width: 230px;
	position: relative;
}

.col-right {
	float: left;
	margin-left: 50px;
	position: relative;
	min-height: 506px;
}

.aside-wrapper {
	width: 230px;
}

.aside-wrapper.fixed {
	position: fixed;
}

.yy-logo {
	height: 100px;
}

.content-body-wrapper {
	position: relative;
	margin-left: 250px;
}

.body-padding {
	height: 50px;
}

.aside-navbar {
	padding-top: 20px;
	padding-bottom: 30px;
}

.aside-navbar ul.aside-nav li {
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	text-indent: 5px;
}

.aside-navbar ul.aside-nav li span {
	padding-left: 30px;
}

.aside-navbar ul {
	padding-left: 0px;
}

.aside-navbar ul.L1 {
	margin-bottom: 0;
}

.aside-navbar ul.L2 li span {
	padding-left: 75px;
}

.aside-navbar .aside-nav-search-wrapper {
	margin-top: 10px;
	padding-right: 5px;
	display: inline-block;
	height: 28px;
	padding-left: 30px;
}

.aside-nav-search-wrapper .aside-nav-search span.search-icon {
	padding-left: 5px;
	padding-right: 2px;
}

.aside-nav-search-wrapper .aside-nav-search input {
	width: 0px;
	height: 28px;
	padding: 5px 2px 4px 0px;
	font-size: 14px;
	font-weight: 100;
	border: none;
	outline: medium;
	background-color: transparent;
}

.aside-nav-search-wrapper .aside-nav-search span.clear-icon {
	display: none;
	cursor: pointer;
	padding-right: 3px;
}
.aside-nav-search-wrapper .aside-nav-search.active span.clear-icon {
	display: inline-block;
}

