@import url('template.css');

body {
	/*
	 background-color: #f8f8f8;
	 */
	background: #e9e7e0;
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei";
}

p {
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei" !important;
}

.row-fluid [class*="span"] {
	margin-left: 1.5%;
}

/**
 *
 */
.divider {
	height: 1px;
	margin: 8px 1px;
	overflow: hidden;
	background-color: white;
	border-bottom: 1px solid #d8d8d8;
}

/**
 *
 */
.topbar-padding {
	height: 0px;
	padding-top: 0px;
	padding-left: 120px;
	margin-bottom: 30px;
	/*
	 background-color: #f0f0f0;
	 background: #f16e50;background: #ff5f3e;
	 color: #f4f4f4;
	 */

}

#navbar-example.transparent75 {
	filter: alpha(opacity=75); /*IE滤镜 */
	-moz-opacity: 0.75; /*Firefox私有  */
	opacity: 0.75; /*其他*/
}

#navbar-example.transparent0 {
}

ul.post-new-blog-navbar-btn-wrap {
	display: none;
}

ul.post-new-blog-navbar-btn-wrap > a {
	font-size: 14px;
	font-weight: 800;
}

img.avatar {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	line-height: 1;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 100%;
	border: 1px solid rgb(82, 147, 196);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}

.navbar-hello {
	cursor: pointer;
}

.navbar-hello img.navbar-avatar {
	max-height: 33px !important;
	height: auto !important;
	height: expression(this.height > 33 ? "33px" : this.height) !important;
	margin-right: 8px;
	margin-top: 2px;
}

.navbar-hello .caret {
	clear: all;
	margin-top: 14px
}

/**
 *
 */
.post {
	margin-bottom: 15px;
	padding-right: 20px;
	background: #fff;
}

.full-view {
	margin: 0 auto;
	width: 60%;
}

.post .head {
	padding-left: 15px;
	padding-top: 6px;
}

.post .head:first-child {
	border-left: 6px solid #ff5f3e;
}

.post .content {
	padding-left: 22px;
	margin-left: 2px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.column-wrap  .post .content, .preview-wrap .post .content {
	border-left: 1px solid #ff5f3e;
}

.post .content p {
	line-height: 23px;
}

.post .title {
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
	font-size: 20px;
	line-height: 23px;
	font-weight: 600;
}

.post .extra {
	padding-bottom: 3px;
	margin: 0;
}

.post .extra label {
	margin-bottom: 0px;
	padding-bottom: 4px;
	font-size: 13px;
}

.extra.extra-bottom, .extra.extra-bottom label {
	padding-top: 5px;
}
.extra.extra-bottom label.user-action {
	padding-top: 20px;
}
.extra.extra-bottom label.user-action i.icon-thumbs-up, .extra.extra-bottom label.user-action em.thumbs-up {
	cursor: pointer;
	color: #ff5f3e !important;
}
.extra.extra-bottom label.user-action i.icon-thumbs-up:hover {
	color: #FF0F00 !important;
	font-size: 45px;
}
.extra.extra-bottom label.user-action em.thumbs-up:hover {
	color: #FF0F00 !important;
}

.extra.extra-bottom label.user-action em.thumbs-up {
	font-size: 16px;
}
.extra.extra-bottom label.user-action i.icon-thumbs-up {
	font-size: 42px;
}

.post .extra label em.cats a, .post .extra label em.columns a {
	color: #333333;
	padding-right: 1px;
}

.post-tags-bottom .v-line, .extra .v-line {
	margin: 0 11px 0 8px;
}

.post-tags-bottom .v-line1, .extra .v-line1 {
	margin: 0 2px 0 5px;
	color: #999;
}

.post-tags-bottom i, .extra i {
	padding-right: 8px;
}

.post-subject, .post-cats {
	padding: 10px;
	background: white;
}

.post-subject .sj-title, .post-cats .cats-title {
	font-size: 20px;
	line-height: 23px;
	font-weight: 600;
}

.post-subject .sj-content, .post-cats .cats-content {
	padding-top: 10px;
	line-height: 23px;
}

.post-subject .sj-content {
	list-style-type: disc;
	list-style: inside;
	margin-left: 5px;
}

.post-subject .sj-content .sj-item {
	padding-bottom: 5px;
}

.post-subject .sj-content .sj-item  a {
	text-decoration: underline;
}

.post-cats .cats-level-1 {
	list-style-type: disc;
	list-style: inside;
}
.post-cats .cats-level-2 {
	list-style: circle;
}
.post-cats .cats-level-1, .post-cats .cats-level-2 {
	margin-left: 5px;
	margin-left: 5px;
}

.post-cats .cats-level-1 {
}

.post-cats .cats-level-2 {
	padding-left: 20px;
}

.post-cats .cats-level-1 a, .post-cats .cats-level-2 a {
	text-decoration: underline;
}

.cats-level-1 .cat-item-L1 {
	margin-bottom: 5px;
}

.cats-level-2 .cat-item-L2 {
	margin-top: 5px;
}

.post-tags-bottom label em a {
	font-size: 12px;
	color: #0088CC;
	padding-right: 3px;
}
.post-tags-bottom label em a:hover {
	color: #005580;
}

.comments-wrapper, .post-tags-bottom, .yy-pagenation {
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background: #fff;
	margin-bottom: 15px;
}

.yy-pagenation p a {
	padding-left: 10px;
}

.yy-pagenation p:last-child a {
	padding-left: 0px;
}

.yy-pagenation p {
	margin-bottom: 4px;
}

/**
 *
 */
.column-info {
	margin-bottom: 15px;
	padding-bottom: 2px;
	padding-top: 10px;
	padding-right: 20px;
	background: white;
}

.column-wrap .column-info {
	border-left: 10px solid #ff5f3e;
	margin-bottom: 18px;
	font-size: 23px;
	line-height: 25px;
	font-style: normal;
	font-weight: 800;
}

.preview-columns-wrap .column-info {
	border-left: 6px solid #ff5f3e;
	font-size: 20px;
	line-height: 23px;
	font-weight: 600;
	font-style: normal;
}

.column-info .column-extra {
	padding-left: 15px;
}

.column-info .column-intro {
	padding-left: 15px;
}

.column-info .column-extra .extra {
	padding-top: 6px;
	padding-bottom: 0px;
}

/***
 *
 */
.user-page .page-item {
	padding-bottom: 12px;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
}

.user-page .page-item dd {
	margin-top: 6px;
}

.page-item.member-actions dd {
	margin-bottom: 12px;
}

.user-page-header {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.user-page-header .page-item {
	text-align: center;
}

.user-page-header .member-header img.avatar {
	width: 50%;
	height: 50%;
	min-width: 200px;
	max-width: 220px;
	position: relative;
	vertical-align: middle;
}
.user-page-header .user-name {
	text-align: center;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
}

.user-page-body {
	text-align: left;
}

.user-page-body dd.detail-title {
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.user-page-body dd.detail-body {
}

/**
 *
 *
 */
.following-item {
	width: 48%;
	float: left;
	border-bottom: 1px solid rgb(232, 232, 232);
	display: block;
	min-height: 52px;
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.following-item .user img {
	max-width: 48px;
}

.following-item .user {
	display: inline-block;
	width: 48px;
	position: absolute;
	left: 0px;
}

.following-item .body {
	width: auto;
	margin-left: 50px;
	padding-left: 15px;
	margin-top: 10px;
	position: relative;
}

.following-item .body .name {
	line-height: 18px;
	height: 18px;
	margin-bottom: 0px;
}

/**
 *
 */
.DivTableDesign.following-list {
	border-bottom: none;
	padding-bottom: 0px;
}

.view-more {
	padding-top: 0px;
	padding-bottom: 12px;
	padding-right: 8px;
	text-align: right;
}

/**
 *
 */
#padding-toolbar {
	min-height: 170px;
	max-height: 180px;
	z-index: 90;
	position: fixed;
	top: 0px;
	background-color: #e9e7e0;
	filter: alpha(opacity=100);
	opacity: 1.0;
}

#create-new-post-toolbar {
	top: 80px;
	left: 100px;
	margin: 0 auto;
	width: 500px;
	text-align: right;
	z-index: 1000;
	margin-bottom: 0;
	position: fixed;
}

.yy-content-wrapper {
	width: 900px;
	margin: 0 auto;
	margin-top: 100px;
	position: relative;
	transform: translate3d(0px, 0px, 0px);
	transition: transform 500ms ease 0s;
}

.yy-edit-btns-group {
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#yy-edit-article-title {
	color: black;
	font-size: 22px;
	font-weight: 400;
	line-height: 15px;
	background-color: white;
}

#yy-edit-article-title #title-in-edit-mode {
	display: inline-block;
	top: 80px;
	position: fixed;
	z-index: 1000;
	width: 50%;
}

#yy-edit-article-title #title-in-edit-mode input, input#yy-note-title-input, input#yy-note-title-input:active, input#yy-note-title-input:after, input#yy-note-title-input:before {
	background-color: transparent;
	font-size: 22px;
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: large;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: large;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	color: black !important;
	border-bottom-color: #bbc0ca;
	padding-left: 0px;
	margin-left: 0px;
	width: 500px;
	display: inline-block;
	height: 24px !important;
}

#yy-wysiwyg-editor {
	display: inline-block;
	width: 100%;
}

#yy-wysiwyg-editor .btn {
	border: 1px solid #ccc;
}

#content {
	width: 900px;
	padding: 15px;
	display: none;
	background-color: #f7f8fa;
	border-left: 1px solid #bbc0ca;
	border-right: 1px solid #bbc0ca;
	border-bottom: 1px solid #bbc0ca;
}

.wysiwyg-toolbar {
	top: 114px;
	position: fixed;
	z-index: 20000;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-bottom: 6px;
	border: 1px solid #bbc0ca;
	text-align: center !important;
	background-color: rgb(229, 229, 229);
	width: 898px;
}

.wysiwyg-toolbar .btn {
	box-shadow: none !important;
}

.wysiwyg-toolbar .dropdown-menu li {
	cursor: pointer;
}

.wysiwyg-toolbar .dropdown-menu li a {
	margin-left: 2px;
}

.wysiwyg-toolbar .dropdown-menu li:hover {
	border-left: 2px solid #ff5f3e;
}

.wysiwyg-editor {
	min-height: 400px;
	background-color: #f7f8fa;
	border: 1px solid #bbc0ca;
	overflow-y: hidden;
	overflow-x: hidden;
	outline: 0;
	margin-top: 26px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.wysiwyg-editor li {
	line-height: 26px;
}

.yy-content-wrapper #yy-content .post-action-bar-wraper {
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: #f7f8fa;
	border: 1px solid #bbc0ca;
	padding-bottom: 30px;
}

.post-action-bar-wraper .post-action-bar-panel {
	margin-bottom: 15px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: rgb(229, 229, 229);
}

.post-action-bar-wraper .post-action-bar-panel .panel-body {
	margin-bottom: 10px;
	padding-left: 10px;
}

.post-action-cat-select li a:hover {
	background-color: #0088cc;
	color: #333;
}

/**
 *
 */
.comments-wrapper {
	padding-bottom: 30px;
	height: auto;
}
.comments-wrapper .cmt-wrapper-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

div.reply-box-expand {
	border: 1px solid #0088cc;
}

div.reply-box, div.reply-box-expand {
	margin-right: 30px;
	padding-left: 5px;
	padding-right: 10px;
	margin-left: 5px;
}
div.reply-box .reply-action {
	display: none;
}

div.reply-box .reply-action {
	visibility: hidden;
}

div.reply-box textarea {
	width: 100%;
	height: 25px;
	border-color: #DDD;
	color: #888;
	display: block;
	resize: none;
	outline: none;
	background-color: white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: hidden;
}

div.reply-box textarea:hover {
	border-color: #0088cc;
}

div.reply-box-expand textarea {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	flex-direction: column;
	-webkit-appearance: textarea;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
}

div.reply-box-expand textarea {
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	height: 100px;
	*height: 42px;
	resize: none;
	color: #333333;
	border: none;
	display: inline-block;
	resize: none;
	outline: none;
	overflow-y: visible;
	overflow-x: hidden;
	white-space: pre-line;
	word-break: break-all;
	padding-bottom: 10px;
	padding-top: 5px;
	border-bottom: 1px solid #DDD;
	columns: 100;
}

div.reply-box textarea:-moz-placeholder, div.reply-box-expand textarea:-moz-placeholder {
	color: #bbb;
}
div.reply-box textarea:focus::-webkit-input-placeholder, div.reply-box-expand textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

div.reply-action {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
}

div.reply-action a.btn {
	padding-left: 10px;
	padding-right: 10px;
}

ul.comments-list {
	margin-left: 0;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	padding-top: 10px;
	border-top: 2px solid #DDD;
}

ul.comments-list li {
	list-style: none;
}

li.comment-item {
	margin-left: 8px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-right: 30px;
	display: inline-block;
	position: relative;
	padding-left: 5px;
	border-bottom: 1px solid #DDD;
}
.cmt-vote-bar {
	margin-right: 20px;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}

.cmt-vote {
	cursor: pointer;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 5px;
}

.cmt-vote i {
	padding-right: 10px;
}

.cmt-content {
	margin-top: 10px;
	display: inline-block;
	margin-right: 50px;
}

.cmt-content .comment-header, .cmt-content .comment-body {
	margin-bottom: 8px;
}

.cmt-content .comment-header .cmt-user-name {
	font-size: 14px;
	font-weight: 800;
	margin-right: 8px;
}
.cmt-content .comment-header .cmt-reply-date {
	font-size: 10px;
	color: #999;
}
.cmt-content .comment-body {
	font-size: 12px;
	padding-left: 0px;
}

.comment-footer {
	font-size: 12px;
	color: #999;
}

.comment-footer .cmt-reply-action:hover {
	color: #333;
}

.comment-footer .cmt-reply-action {
	cursor: pointer;
	margin-right: 10px;
}
.comment-footer .cmt-reply-action i {
	margin-right: 6px;
}
.comment-footer .cmt-reply-action:hover i {
	color: #0088cc;
}

/***
 *
 */
#reply-user-info-input-dialog .modal-header {
	background-color: #D24726;
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
}

.modal.styled .modal-header span {
	color: #fff;
	font-size: 28px;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.5em;
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
}
.text-note {
	color: #333;
}

.aligncenter {
	text-align: center;
}

/**
 *
 */
.btn-back-toTop {
	display: none;
	z-index: 2000000;
	position: fixed;
	max-width: 72px;
	min-width: 72px;
	width: 72px;
	opacity: 0.8;
}
.btn-back-toTop:hover {
	opacity: 1.0 !important;
}

.btn-back-toTop i {
	margin-right:3px;
}

.btn-back-toTop a.btn {
	text-transform: uppercase;
}

.btn-back-toTop.style-1 {
	bottom: 30%;
	margin-left: 59.9%;
}

.btn-back-toTop.style-1 a.btn {
	border-radius: 0 4px 4px 0;
}

.btn-back-toTop.style-2 {
	bottom: 80px;
	right: 50px;
}

.btn-back-toTop a.btn {
	color: #aaa;
	margin-left: -1px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn-back-toTop a.btn:hover {
	color: #fff;
}

/**
 *
 */
.bottom {
	position: relative;
	width: 100%;
	font-size: 12px;
	line-height: 1.5em;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.bottom .bottom-text {
	overflow: hidden;
	margin-left: 30px;
}

/**
 *
 */
.page-cols {
	display: block;
	overflow: hidden;
}

.page-cols li.col {
	display: block;
	width: 90%;
	margin-left: 30px;
	margin-bottom: 30px;
}

.page-cols li.col > h3, .page-cols li.col > h4, .page-cols li.col > h5 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.page-cols li.clear-col {
	clear: left;
}

.page-cols li.col ul {
	display: block;
	margin: 0 auto;
	list-style: decimal;
}

.page-cols li.col h3 a {
	color: #333333;
}

.page-cols li.col h3 a:hover {
	color: #005580;
}

.page-cols li.col ul li {
	display: block;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	margin-bottom: 6px;
}

.page-cols li.col ul li:first-child {
	border-top: none;
}

.page-cols li.col ul li:last-child {
	border-bottom: none;
}

.page-cols li.col ul li a {
	text-decoration: none;
	color: #0088CC;
}

.page-cols li.col ul li a:hover {
	text-decoration: underline;
	color: #005580;
}

/*
 *
 */
.arrow-box-left {
	position: relative;
	background: #fafeff;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.arrow-box-left:after, .arrow-box-left:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box-left:after {
	border-right-color: #fafeff;
	border-width: 8px;
	top: 17px;
}

.arrow-box-left:before {
	border-right-color: #b5cdd7;
	border-width: 9px;
	top: 16px;
}

.arrow-box-left.gray {
	background: nil;
	border-color: #d8d8d8;
}
.arrow-box-left.gray:before {
	border-right-color: #d8d8d8;
}

.arrow-box-left {
	-moz-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.1);
}

.arrow-box-right {
	position: relative;
	background: #fafeff;
	border: 1px solid #b5cdd7;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.arrow-box-right:after, .arrow-box-right:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box-right:after {
	border-left-color: #fafeff;
	border-width: 6px;
	top: 7px;
}

.arrow-box-right:before {
	border-left-color: #b5cdd7;
	border-width: 7px;
	top: 6px;
}

.arrow-box-right.gray {
	background: nil;
	border-color: #d8d8d8;
}
.arrow-box-right.gray:before {
	border-left-color: #d8d8d8;
}

.arrow-box-right {
	-webkit-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.1);
}

/**
 *
 */
.padding-right10 {
	padding-right: 10px;
}

.padding-right15 {
	padding-right: 15px;
}

.padding-right20 {
	padding-right: 20px;
}

.padding-right25 {
	padding-right: 25px;
}

/**
 *
 */
.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-warning {
	color: #c09853;
}

a.text-warning:hover, a.text-warning:focus {
	color: #a47e3c;
}

.text-error {
	color: #b94a48;
}

a.text-error:hover, a.text-error:focus {
	color: #953b39;
}

.text-info {
	color: #3a87ad;
}

a.text-info:hover, a.text-info:focus {
	color: #2d6987;
}

.text-success {
	color: #468847;
}

a.text-success:hover, a.text-success:focus {
	color: #356635;
}
